<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--开启二级缓存-->
<!--        <setting name="cacheEnabled" value="true" />-->

        <!--开启一级缓存,默认自动开启一级缓存-->
        <setting name="localCacheScope" value="SESSION"/>
    </settings>

    <typeAliases>
        <package name="com.morningglory.mybatis.pojo"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.morningglory.mybatis.plugins.PrepareInterceptor" />
        <plugin interceptor="com.morningglory.mybatis.plugins.ExecutorInterceptor" />
        <plugin interceptor="com.morningglory.mybatis.plugins.ParameterInterceptor" />
        <plugin interceptor="com.morningglory.mybatis.plugins.ResultSetInterceptor" />
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/demo?characterEncoding=utf8&amp;useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<package name="/mapper"/>-->
        <mapper resource="mapper/StudentMapper.xml" />
    </mappers>


</configuration>